{% extends 'reviews/base.html' %}
{% load static %}

{% block style %}
<style>
    body,
    html {
        height: 100%;
    }

    .bg {
        /* The image used */
        background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center bg">
    <h1 class="text-white display-1">Welcome to Bookr</h1>
</div>
{% endblock %}